body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
}

.container {
  padding: 2rem;
}

.navbar {
  background-color: #0070f3;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.item-card {
  width: 200px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-to-cart-button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #005bb5;
}


.cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-details {
  flex: 1;
}

.remove-from-cart-button {
  background-color: #e53e3e;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.remove-from-cart-button:hover {
  background-color: #c53030;
}

.cart-summary {
  text-align: right;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.item-card.added {
  background-color: #f0f0f0; /* Grayed out background */
  opacity: 0.6;
}

.add-to-cart-button[disabled] {
  background-color: #ccc; /* Disabled button style */
  cursor: not-allowed;
}

.cart-count {
  right: 44%;
  position: absolute;
  top: 10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 42%;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}